.hear{
    background-color: red;
    float: left;
    height: 40px;
    width: 100%;  
}

.caja2{
    float: left;
    width: 25%;
    height: 400px;
    background-color: khaki;
}

.contenido{
    float: left;
    width: 75%;
    height: 400px;
    background-color: lightskyblue;
}

.foster{
    float: left;
    width: 100%;
    height: 50px;
    background-color: lightslategrey;
}



.box{
    width: 100px;
    height: 100px;
    background-color: gray;
    margin: 5px;
    float: left;
}
